{% extends 'layout.html' %}

{% block body %}

  <br/>
  <h4><font face="Georgia">Implications</h4>
  <p> Healthcare spending consists of 1/6 of the US Economy, yet there are massive treatment gaps
     that still exist. Treatment gaps present business opportunities and cases for decreasing costs
      to insurers and government-subsidized programs, as well as revenue streams for service providers.</p></font>
    <br/>

    <h4><font face="Georgia">The Market Opportunity</font></h4>
    <font face="Georgia"><p>&#8594; Say there is only 1% prevalence of OUD in a state. How many patients need treatment?</p>
      <ul style="list-style-type:disc">
        <li>Maryland: 66% (40,000)</li>
        <li>Ohio: 82% (90,000) </li>
        <li>Texas: 95% (270,000) </li>
      </ul>
      <p>&#8594; How much does it cost to treat OUD? $5,000/yr - Methadone, $10,000/yr - Buprenorphine.</p></font>

    <br/>
    <h4><font face="Georgia">Recommendation: Expand Buprenorphine-based Treatment </font></h4>
    <font face="Georgia"><p>&#8594; Patient Preference + Massive Market</p>
    <p>&#8594; High Reimbursement</p>
    <p>&#8594; Rapid Deployment: Flexible Business Model</p>
    <p>&#8594; Excellent choice for rural and urban patients</p></font>

    <br/>
    <h4><font face="Georgia">Recommendation: Expand Treatment Service Value Chain </font></h4>
    <font face="Georgia"><p>&#8594; Increase Number of Addiction Therapists</p>
    <p>&#8594; Create Digital Tools: Symptomatology, EHRs/platforms specializing in addiction/mental health, daily-dosing applications</p>
    <p>&#8594; Drug Testing: locations & kits </p>
    <p>&#8594; Pharmacies: stock buprenorphine-products, anti-nausea, sleep aids, expand into drug testing services, etc. </p></font>

    <br/>
    <h4><font face="Georgia">Winners and Losers</font></h4>
    <font face="Georgia"><p>Loser&#8594; Insurers</p>
    <p>Mixed&#8594; Medicaid: short and medium term <a href="https://www.ncbi.nlm.nih.gov/pubmed/29159398"<a>financial losses, long term gains</a></p>
    <p>Loser&#8594; Methadone Clinics that do not expand into buprenorphine</p>
    <p>Loser&#8594; The "Methadone Clinic business model": <a href="http://www.chicagotribune.com/news/sns-bc-ma--exchange-methadone-clinic-20171106-story.html">Dispensing Windows</a></p>
    <p>Loser&#8594; Cash Pay Treatment Clinics</p>
    <p>Winner&#8594; Generic buprenorphine-based drug manufacturers </p></font>


{% endblock %}
