{% extends 'layout.html' %}

{% block body %}
<p></p>
  <div class="jumbotron">
     <div class="container">
       <h1 class="display-3"><font face="Garamond">Business Opportunities from Treatment Gaps in Medicine</font></h1>
       <h5><font face="Garamond">How do we close a treatment gap and drive business growth?</font></h5>

       <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">For Erika's project proposal. &raquo;</a></p>-->
     </div>
   </div>
  <blockquote cite="http://articles.latimes.com/2012/jul/13/business/la-fi-mo-buffett-tapeworm-20120713"><font face="Garamond"><p>"The ballooning costs of (health care) act as a hungry tapeworm on the American economy" - Warren Buffett</p></font></blockquote>
  <font face="Garamond"><p>"The healthcare problem is the No. 1 problem of America and of American business," Buffett said in an interview with Bloomberg Television.</p></font>
{% endblock %}
