{% extends 'layout.html' %}

{% block body %}

  <h4><font face="Georgia">Project Rationale</font></h4>
  <p> Healthcare spending consists of 1/6 of the US Economy, yet there are massive treatment gaps that still exist. Treatment gaps present business opportunities and cases for decreasing costs to insurers and government-subsidized programs, as well as revenue streams for service providers.</p>


  <h4><font face="Garamond">The Opioid Epidemic will be used as an example of a treatment gap for this project proposal.</font></h4>

       <p> In the US, the Opioid Use Disorder (OUD) epidemic has caused significant stress on financial and healthcare delivery resources. In terms of treatment capabilities and expertise, an enormous disparity exists between urban
    and rural settings across all aspects of healthcare delivery and access. The OUD epidemic is increasing year-over-year for all opioid classes, creating an
    unprecedented need to provide high quality treatment services and case management resources as quickly as
    possible.</p>

    <p>The difficulty for rural parts of the US is the transient nature of the treatment location, opioid
    use rates, and transportation costs. The isolating topography and low population density of many US counties creates an extraordinarily difficult manner in which to deliver all
    healthcare services and keep OUD patients in a maintenance program.</p>

    <p>Interestingly, when urban and peri-urban OUD healthcare delivery models are adapted to rural settings, the barriers and
    disparities persist. This is due to the significant patient travel time, distance to treatment
    services, lack of provider training, and inadequate medication-assisted treatment resource availability. </p>

    <p>The cost of the opioid epidemic has been estimated by UCLA to be $20,000 per OUD-person per year, largely due to the cost of emergency room care related to side effects, the disease, and poor health.</p>

    <p>Nationally, the Medicaid population suffers an OUD rate almost 2x the commercial insurance population. Not only do these rates cause alarm by highlighting the disparity in service delivery, they also point to a larger issue: Medicaid enrollees are 2x as likely to have OUD. Below, we will explore this issue further.</p>

  <h4><font face="Georgia">Economic Rationale: the Business Case is also the Government Case</font></h4>
  <p> Economically, the Medicaid population has been the most displaced by automation and offshore labor. As the country has recovered from recession and the US economy has seen 88 straight months of job growth, this indicates that employers are searching for a labor force.</p>
  <p> However, those who suffer from OUD cannot pass a drug screen if they are abusing opioids. The US government spends $70B per year on OUD-related costs in healthcare, law enforcement, judiciary system, and education.</p>

{% endblock %}
